# files NETCDF
*.nc

# files of setup
setup_mhm/catamayo_chira/*

# ._ hidden files
._*

# internal conf
.vscode/

# execute files
execute_mhm/*
execute_edk/*
execute_smi/*

# download meteo
download_meteo/*
preprocess_meteo/*

# temps
temp/*

# private vars
private_vars_download.sh

